// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.slider {

  &__navigation {
    position: absolute;
    right: 0;
    li {
      &.active {
        background: red;
      }
    }
  }

  &__page {
    min-height: 100%;
    background: blue;
    &.pinned {
      position: absolute;
    }
  }
}
